.btn {
	width: 32vw;
	margin: 1vw auto 0;
	text-aligin: center;
}

.submitBtn {
	width: 10vw;
	height: 2.7vw;
	color: white;
	background: #f19032;
	text-align: center;
	line-height: 2.7vw;
	border-radius: 4px;
	display: inline-block;
}

.submitBtn:hover {
	cursor: pointer;
}

.red-time {
	height: 2vw;
	font-size: 1vw;
	margin-top: 1vw;
}

.red-time .line {
	margin-left: 0vw;
	margin-right: 0vw;
	width: 1vw;
	height: 2px;
	vertical-align: middle;
}

.red-time .startTime {
	margin-left: 10px;
}

.productInfos {
	margin-top: 1vw;
}

.productInfos textarea {
	vertical-align: top;
	border-radius: 4px;
	width: 20vw;
	height: 4vw;
	font-size: 1vw;
}