.container input[type="button"]{
	font-size:1vw;
}
.container label{
	margin-left:0px;
}
.container input{
	margin-right:2vw;
}

#table-outer .table-tbody {
	width: 80vw;
	height: 31vw;
}
#table-outer table tr>td:nth-child(4){
	width:17vw;
}
#table-outer .table-tbody ul li{
	border-bottom:1px solid #D4D4D4;
}
#table-outer .table-tbody ul li:last-child{
	border-bottom:0px;
}  
#threshold{
	 width: 10vw;
    height: 2vw;
    margin-top: 1vw;
    border-color: #d0d0d0;
    background-repeat: no-repeat;
    background-position: right center;
    background-size: contain;
    margin-left: 2vw;
    margin-top: 4vw;
}  