* {
	margin: 0;
	padding: 0;
}
html {
	width: 100%;
	height: 100%;
}
body {
width: 100%;
	height: 100%;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	 position: fixed;
	z-index: 1; 
}
.title1{
	width: 5.72rem;
	height:0.8rem;
	line-height:0.8rem;
	text-align:center;
	vertical-align:center;
	position: absolute;
	top:5%;
	left:50%;
	margin-left:-2.86rem;
	margin-top:-0.4rem;
}
.title1 img{
	max-width:100%;
	max-height:100%;
	vertical-align:middle;
}
.main-big{
	width: 100%;
	display: -webkit-flex;
	display: flex;
	justify-content: center ;
	padding-top:5.5rem;
}
.count-down{
	width: 8.8rem;
	height:1.08rem;
	line-height:1.08rem;
	background-size: 8.8rem 1.08rem;
	background-repeat: no-repeat;
}

.circular{
	width: 0.7rem;
	height: 0.7rem;
	background-color:yellow ;
	border-radius: 50%;
	line-height: 0.7rem;
	text-align: center;
	margin-top:0.16rem;
    margin-left: 0.3rem;
    position: absolute;
}
.end{
    margin-left: 1.3rem;
    font-size: 0.45rem;
    color: #F9D231;
    font-weight: bold;
}
.timespan{
	margin-left: 3.2rem;
	margin-top:-1.07rem;
	color: white;
	font-weight: bold;
	font-size: 0.35rem;
}
.time{
	margin-top: -0.47rem;
    margin-left: 4rem;
    color: white;
   
}
.main-xia{
	width: 100%;
	display: -webkit-flex;
	display: flex;
	justify-content: center ;
}
.count-down-box{
	width: 7.973333rem;
	height:6.12rem;
	background-size: 7.973333rem 6.12rem;
	background-repeat: no-repeat;
}
.product{
	width: 2.346666rem;
	height: 5.946666rem;
    float: left;
    margin-top: 0.4rem;
    margin-left: 0.4rem;
    text-align:center;
    line-height:5.946666rem;
}
.product img{
	max-height: 100%;
	max-width: 100%;
	vertical-align:middle;
}
.right{
    width: 5rem;
    height: 6rem;
    float: right;
    margin-top: 0.4rem;
}
.alcohol-name{
	height: 1rem;
	width: 3.6rem;
	border-bottom: 0.023333rem dashed white;
	color: white;
}
.alcohol-name p:nth-child(1){
	color: white;
	font-size: 0.4rem;
	font-weight: bold;
}
.number{
	height: 0.5rem;
	width: 3.6rem;
	font-family: fonts;
	color: white;
	border-bottom: 0.023333rem dashed white;
	margin-top: 0.2rem;
}
.number span:nth-child(1){
	color: white;
	font-weight: bold;
}
.number span:nth-child(2){
	color: #FCEA00;
}
.number span:nth-child(3){
	color: #FCEA00;
}
.purchase-price{
	height: 2rem;
	margin-top: 0.7rem;
	position: relative;
}
.head-portrait{
	width: 4.9rem;
	overflow-x: scroll;
	display: inline-block;
	white-space: nowrap;
}
.ff{
	width: 1rem;
	height: 1rem;
    display: inline-block;
	position: relative;
}
.ff div{
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    position: absolute;
    background: rgba(2, 2, 2, 0.6);
    top: 0.2rem;
    text-align: center;
	line-height: 1rem;
	color: white;
	font-size: 0.3rem;
}
.ff img{
	width: 1rem;
	height: 1rem;
	
	border-radius: 50%;
	background-color: black;
}
.head-portrait .dd{
	width: 1.2rem;
	height: 1.2rem;
	border-radius: 50%;

}
.head-portrait img:not(:first-child) {
	width: 1rem;
	height: 1rem;
	border-radius: 50%;
	margin-top: 0.2rem;
	
}
.start{
	margin-top: 0.2rem;
	color: white;
	font-size:0.32rem;
}
.start span{
	margin-top: 0.2rem;
	color: #FCEA00;
	font-size: 0.4rem;
}
/* .immediately img{
	width: 4.066666rem;
	height: 0.96rem;
	margin-top: 0.6rem;
} */
.inviting-teammate{
	width: 2.533333rem;
	height:0.693333rem;
	margin-left:0.6rem;
	margin-top: 0.2rem;
}
.inviting-teammate-huiyao{
	width: 2.533333rem;
	height:0.693333rem;
	margin-left:0.6rem;
	margin-top: 0.2rem;
}
.award-winning0,.award-winning{
	width: 3.666666rem;
	height:0.693333rem;
	margin-top:0.4rem;
}
.rule-name p{
	width: 2.8rem;
    height: 0.8rem;
	border-radius: 0.266666rem;
	text-align: center;
	border: 0.026666rem solid yellow;
	margin: 0.2rem auto;
	color:yellow ;
	line-height: 0.8rem;
}
.bg-mask{
	width: 100%;
	height: 100%;
	position: fixed;
	background: rgba(2, 2, 2, 0.9);
	z-index: 1000000;
}
.share{
	width: 100%;
}
.share img{
   width: 8.133333rem;
   height:7.88rem;
   margin-left: 10%;
  
}
.share p:nth-child(2){
	color: white;
	text-align: center;
}
.share p:nth-child(2) span{
	color: red;
	font-weight: bold;
}
.share p:nth-child(3){
	color: #F9F8F7;
	text-align: center;
	margin-top: 0.2rem;
}
.coloured{
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	margin-top: 2rem;
	/*text-align: center;*/
}
.coloured img:nth-child(1){
	width: 3.493333rem;
	height:5.533333rem;
	margin-left: 33%;
}

.coloured p:nth-child(3){
	width: 100%;
	text-align: center;
	color: white;
	margin-top: 0.35rem;
	font-size: 0.52rem;
}
.coloured p:nth-child(4){
	width: 100%;
	text-align: center;
	color: yellow;
	margin-top: 0.25rem;
	font-size: 0.4rem;
}
.dizhi{
	width: 3.666666rem;
	height:0.693333rem;
	margin-left: 32%;
    margin-top: 2.1rem;
}
.coloured1{
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	margin-top: 2rem;
	text-align: center;
}
.coloured1 img:nth-child(1){
	width: 4.28rem;
	height: 4.4rem;
}
.coloured1 p:nth-child(2){
	width: 100%;
	text-align: center;
	color: white;
	margin-top: 0.3rem;
	font-size: 0.52rem;
}
.coloured1 p:nth-child(3){
	width: 100%;
	text-align: center;
	color: #F7F65E;
	margin-top: 0.2rem;
	font-size: 0.52rem;
}
.rule-name{
	width: 100%;
	display: -webkit-flex;
	display: flex;
	justify-content: center ;
	margin-top:0.6rem;
}
.rule-name img{
	width: 2.933333rem;
	height:0.693333rem;
}
.main_rule{
	width: 100%;
	display: -webkit-flex;
	display: flex;
	justify-content: center ;
}
.close{
	width: 0.8rem;
	height: 0.8rem;
	position: absolute;
	top: 5%;
	left: 87%;
	
}
.rule-bg{
	width: 8.04rem;
	height:12.04rem;
	background-repeat: no-repeat;
	background-size: 8.04rem 12.04rem;
	margin-top:2.5rem;
	
}
.text{
	width:7rem;
	margin-top:1.8rem;
	margin-left:0.5rem;
	marign-top:-6rem;
	color:white;
}
.no1,.no2,.no3,.no4{
  	display: inline-block;
  	width: 0.566666rem ;
  	height: 0.566666rem;
  	background-color: black;
  	color: white;
  	text-align: center;
  	line-height:0.566666rem;
}

