#table-outer {
	width: 80vw;
	margin-top: 1vw;
}

#table-outer table {
	width: 80vw;
}

#table-outer .table-tbody {
	width: 80vw;
	height: 32vw;
}

#table-outer table tr>td:first-child {
	width: 4vw;
}

#table-outer table tr>td:nth-child(2) {
	width: 12vw;
}

#table-outer table tr>td:nth-child(3) {
	width: 12vw;
}

.headPic {
	height: 2vw;
	line-height: 2vw;
	vertical-align: middle;
}

#table-outer table tr>td:nth-child(3) img {
	max-width: 100%;
	max-height: 100%;
	vertical-align: middle;
}

#table-outer table tr>td:nth-child(4) {
	width: 12vw;
}

#table-outer table tr>td:nth-child(5) {
	width: 12vw;
}

#table-outer table tr>td:nth-child(6) {
	width: 12vw;
}

#table-outer table tr>td:nth-child(7) {
	width: 12vw;
}

#table-outer table tr td {
	font-size: 1vw;
}

input {
	font-size: 1vw;
}
input[type="button"] {
    margin-left: 1vw;
}